[submodule "nerdtree"]
	path = bundle/nerdtree
	url = ./bundle/nerdtree/
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = vim-pathogen/
[submodule "Color-Sampler-Pack"]
	path = bundle/Color-Sampler-Pack
	url = ./bundle/Color-Sampler-Pack/
[submodule "vim-fugitive"]
	path = bundle/vim-fugitive
	url = ./bundle/vim-fugitive/
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
