[submodule "nerdtree"]
	path = nerdtree
	url = ./bundle/nerdtree/
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = ./bundle/vim-pathogen/
[submodule "Color-Sampler-Pack"]
	path = Color-Sampler-Pack
	url = ./bundle/Color-Sampler-Pack/
